doctype html
html
  head
    title Kaspersky Lab

    meta(charset="utf-8")

    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="stylesheet", type="text/css", media="screen", href="css/style.min.css")

    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic&subset=latin,latin-ext', rel='stylesheet', type='text/css')

  body
    .container
      header
        .row
          .logo.col-xs-12.col-sm-12.col-md-3.col-lg-3
          .tagline.col-xs-12.col-sm-12.col-md-9.col-lg-9 Prottegi i tuoi dispositivi anche in vacanza!
        .row.banner

      main
        .row
          .anti-virus.col-md-4.col-lg-4
            .header
              span.short-description Protezione &nbsp;
                span.keyword essenziale
                | &nbsp; per i pc
            .prices
              .quantity
                span 1PC
              .price
                span.old-price 29.95 €
                br
                span.new-price 23.95 €
              .buy
                img(src="../img/buy.png")
              hr
              .quantity
                span 3PC
              .price
                span.old-price 44.95 €
                br
                span.new-price 35.95 €
              .buy
                img(src="../img/buy.png")
              hr
              .quantity
                span 5PC
              .price
                span.old-price 64.95 €
                br
                span.new-price 51.95 €
              .buy
                img(src="../img/buy.png")
            .description
              .title Scopri i vantaggi
              ul.details
                li.protection Protezione dalle odierne minacce di sicureza su Internet
                li.pc Scansione continua del tuo PC con avvisi real time
                li.updates Aggiornamenti gratuiti
              hr
          .internet-security.col-md-4.col-lg-4
            .header
              span.short-description Protezione &nbsp;
                span.keyword avanzata
                | &nbsp; per i pc
            .prices
              .quantity
                span 1PC
              .price
                span.old-price 49.95 €
                br
                span.new-price 39.95 €
              .buy
                img(src="../img/buy.png")
              hr
              .quantity
                span 3PC
              .price
                span.old-price 69.95 €
                br
                span.new-price 55.95 €
              .buy
                img(src="../img/buy.png")
              hr
              .quantity
                span 5PC
              .price
                span.old-price 89.95 €
                br
                span.new-price 71.95 €
              .buy
                img(src="../img/buy.png")
            row.description
              .title Scopri i vantaggi
              ul.details
                li.protection Protezione avanzata dalle odierne minacce de sicureza su Internet
                li.card Transazioni online sicuri
                li.parental Parental control che garantisce la sicureza della tua famiglia
                li.camera Controllo degli accessi alla tua Webcam de parte di PC non autorizati
                li.updates Aggiornamenti gratuiti
              hr
          .multi-device.col-md-4.col-lg-4
            .header
              span.short-description Protezione &nbsp;
                span.keyword multi-dispositivo
                | &nbsp; per i pc, smartphone e tablet android
            .prices
              .quantity
                span 1PC
              .price
                span.old-price 69.95 €
                br
                span.new-price 55.95 €
              .buy
                img(src="../img/buy.png")
              hr
              .quantity
                span 3PC
              .price
                span.old-price 89.95 €
                br
                span.new-price 71.95 €
              .buy
                img(src="../img/buy.png")
              hr
              .quantity
                span 5PC
              .price
                span.old-price 129.95 €
                br
                span.new-price 103.95 €
              .buy
                img(src="../img/buy.png")
            .description
              .title Scopri i vantaggi
              ul.details
                li.protection Protezione avanzata multi-dispositivo dalle nuove minacce Internet
                li.card Protezione aggiuntiva per shopping e banking online
                li.wifi Controllo vulnerabilita delle reti Wi-Fi
                li.devices Un'unica licenza per la gestione della sicurezza dei tuoi dispositivi
                li.parental Parental Control Avanzato
                li.updates Massima sicurezza ed alte prestazioni
              hr

    footer
      .container
        .row
          .copyright.col-xs-12.col-sm-12.col-md-4.col-lg-4
            span.bold © 1997 - 2015 Kaspersky Lab
            br
            | Produttore leader di Software Antivirus.
            br
            | Kaspersky Lab Italia - P.IVA 09923201009
          .contacts.col-xs-12.col-sm-12.col-md-4.col-lg-4
            span Privacy | Informazioni Legali | Contatti
          .social.col-xs-12.col-sm-12.col-md-4.col-lg-4
            ul.social-buttons
              li.facebook
                a(href="https://facebook.com")
                  img(src="../img/facebook.png")
              li.google-plus
                a(href="https://plus.google.com")
                  img(src="../img/google-plus.png")
              li.twitter
                a(href="https://twitter.com")
                  img(src="../img/twitter.png")
              li.youtube
                a(href="https://youtube.com")
                  img(src="../img/youtube.png")
              li.linkedin
                a(href="https://linkedin.com")
                  img(src="../img/linkedin.png")
